* {
    /* background: linear-gradient(to right, rgb(187, 187, 253), rgb(241, 217, 221)) ; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#root {
    
    display:flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post{
    display:flex;
    padding:15px;
    border:2px solid black;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}